<h1>Spørsmål</h1>

<div>
  <% @questions.each do |q| %>
    <h3><%= q.title %></h3>
    <p1><%= q.body %></p1>
    <h5>
      <time datetime="<% q.format_time %>">
        <%= q.format_time %>
      </time>
    </h5>
    <div><%= link_to 'Forestilling spørsmål', show_questions_path(q) %></div>
    <div><%= link_to 'Redigere spørsmål', edit_questions_path(q) %></div>
    <div><%= link_to 'Slette spørsmål', destroy_questions_path(q), data: { method: :delete, confirm: 'Er du sikker?' } %></div>
  <% end %>
</div>



